{% load static %}

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Lê Hồng Phúc</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,300,500" rel="stylesheet">
		<!--
		CSS
		============================================= -->
		<link rel="stylesheet" href="{% static 'homepage/css/linearicons.css' %}">
		<link rel="stylesheet" href="{% static 'homepage/css/owl.carousel.css' %}">
		<link rel="stylesheet" href="{% static 'homepage/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'homepage/css/nice-select.css' %}">
		<link rel="stylesheet" href="{% static 'homepage/css/magnific-popup.css' %}">
		<link rel="stylesheet" href="{% static 'homepage/css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'homepage/css/main.css' %}">
		<link rel="stylesheet" href="{% static 'homepage/css/radius.css' %}">
	</head>
	<body>
		<!-- Start Header Area -->
		<header class="default-header">
			<div class="container">
				<div class="header-wrap">
					<div class="header-top d-flex justify-content-between align-items-center">
						<div class="logo">
							<a href="index.html"><img src="img/logo.png" alt=""></a>
						</div>
						<div class="main-menubar d-flex align-items-center">
							<nav class="hide">
								<a href="index.html">Home</a>
								<a href="generic.html">Generic</a>
								<a href="elements.html">Elements</a>
							</nav>
							<div class="menu-bar"><span class="lnr lnr-menu"></span></div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- End Header Area -->
		<!-- Start Banner Area -->
		<section class="banner-area relative">
			<div class="overlay overlay-bg"></div>
			<div class="container">
				<div class="row fullscreen align-items-center justify-content-center">
					<div class="col-lg-10">
						<div class="banner-content text-center">
							<h1 class="text-white">I'M LE HONG PHUC</h1>
							<h3 class="text-white">A BACKEND DEVELOPER</h3>
							
							<div class="footer-social align-items-center" style="text-align: center; margin-top: 25px;">
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="https://github.com/lephuc3108"><i class="fa fa-github"></i></a>
								<a href="https://www.facebook.com/phuc.hong.547389"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-stack-overflow"></i></a>
							</div>

						</div>
						<!--<div class="social-link" style="display: table;">
                            <ul class="social-profiles" style="display: inline-block;">
                                <li class="item"><a href="#" class="fa fa-linkedin"><span>LinkedIn</span></a></li>
                                <li class="item"><a href="#" class="fa fa-stack-overflow"><span>Stack Overflow</span></a></li>
                                <li class="item"><a href="#" class="fa fa-github"><span>Github</span></a></li>
                                <li class="item"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
                            </ul>
                        </div>-->
					</div>
				</div>
			</div>
		</section>
		<!-- End Banner Area -->
		<div class="section-heading">
			<h2 class="section-title" >ABOUT ME</h2>
		</div>
		<!-- Start History Area -->
		<section class="section-gap history-area">
			<div class="container" style="margin-bottom: -55px;">
				
				<div class="history-tab-wrapper" style="margin-top: -95px;">
					<div class="row justify-content-between">
						<div class="col-lg-4">
							<div class="tab-thumb text-center" style="margin-top: 125px;">
								<img src="{% static 'homepage/img/ava.jpg' %}" class="img-fluid" alt="" width="231px" height="231px">
							</div>
						</div>
						<div class="col-lg-6 ml-auto">
							<div class="tab-total-content">
								<div class="nav ilene-tabs" id="myTab" role="tablist">
									<a class="nav-item active" id="nav-home-tab" data-toggle="tab" href="#nav-history" role="tab" aria-controls="nav-history" aria-selected="true"><span class="lnr lnr-map"></span>About me</a>
									<a class="nav-item" id="nav-profile-tab" data-toggle="tab" href="#nav-mission" role="tab" aria-controls="nav-mission" aria-selected="false"><span class="lnr lnr-bullhorn"></span>Contact</a>
									<a class="nav-item" id="nav-contact-tab" data-toggle="tab" href="#nav-vission" role="tab" aria-controls="nav-vission" aria-selected="false"><span class="lnr lnr-sun"></span>Vision</a>
								</div>
								<div class="tab-content mt-40" id="nav-tabContent">
									<div class="tab-pane fade show active" id="nav-history" role="tabpanel" aria-labelledby="nav-home-tab">
										<div class="single-content">
											<h3>ABOUT ME</h3>
											<p>I'm Le Hong Phuc, a self-taught backend developer with <b>2 years of experience in Python and Django technologies</b>, with good knowledge of Database Design, Design Pattern, Object-Oriented Analysis and Design.
											<br/>	
											<br/>
											Learning new logical things and technologies is what I am passionate about (I self-taught Django with 3 weeks). I am considered a team-player because I like to help other and tend to work well within groups.
											<br/>
											<br/>
											My favorite books are: Learning Python, Think Python, Clean Code, Head First Design Pattern, Python in Depth, Working with Legacy Code.</p>
										</div>
									</div>
									<div class="tab-pane fade" id="nav-mission" role="tabpanel" aria-labelledby="nav-profile-tab">
										<div class="single-content">
											<h3>Contact</h3>
										<ul style="list-style: none; display: inline-block;">
											<li style="padding-bottom: 10px;"><i class="fa fa-map-marker"></i> Ho Chi Minh city, VietNam</li>
											
											<li style="padding-bottom: 10px;"><i class="fa fa-phone"></i> +84 916 776 076</li>
											
											<li><i class="fa fa-envelope"></i> Lephuc3108@gmail.com</li>
											<li></li>
										</ul>
										</div>
									</div>
									<div class="tab-pane fade" id="nav-vission" role="tabpanel" aria-labelledby="nav-contact-tab">
										<div class="single-content">
											<h3>Vision</h3>
											<p>I want to improve my self to be a better Backend Developer & Fullstack Developer in future
											<br/>
											<br/>
											I will learning more and work-hard to be a senior Backend Developer
											<br/>
											<br/>
											Cultivate experience, knowledge and skillsjob 
											<br/>
											<br/>
											To find opportunities for self development</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-1"></div>
					</div>
				</div>
			</div>
		</section>
		<!-- End History Area -->


		<div class="section-heading" style="padding: 30px 0 0 0; box-shadow: 0 3px 3px 0 rgba( 1,2,2,0.05);">
			<h2 class="section-title" style="text-align: center; color: grey; font-size: 33px; font-weight: 300; letter-spacing: 3px;">SKILL</h2>
		</div>
		
		<!-- Start Skill Area -->
		<section class="section-gap exprience-area" style="background: #f2f5f7;">
			<div class="container">
				<div class="row justify-content-center" style="flex-wrap: nowrap;">
					<div class="col-lg-6 col-md-8">					
					</div>
				</div>
				<div class="row align-items-center" style="margin-top: -55px; flex-wrap: nowrap; margin-bottom: -55px;">
					
					<div class="col-lg-4 col-md-6" style="background-color: white; margin-right: 15px;">
								<div class="carousel-content" style="margin: 15px 35px 15px; line-height: 2.3;">
									<h4>PROGRAMMING LANGUAGES</h4>
									<ul style="list-style-type: circle; padding-left: 25px;">
										<li>Python</li>
										<li>JavaScript</li>
										<li>HTML, CSS</li>
									</ul>
									<h4>FRAMEWORKS & PLATFORMS</h4>
									<ul style="list-style-type: circle; padding-left: 25px;">
										<li>Python Django</li>
										<li>Django REST Framework</li>
									</ul>				
								</div>
							</div>
					<div class="col-lg-4 col-md-6" style="background-color: white;">
								<div class="carousel-content" style="margin: 15px 35px 15px; line-height: 2.3;">
									<h4 style="font-weight: 300;">DATABASE</h4>
									<ul style="list-style-type: circle; padding-left: 25px;">
										<li>Microsoft SQL</li>
										<li>MySQL</li>
									</ul>
									<h4>VERSION CONTROL</h4>
									<ul style="list-style-type: circle; padding-left: 25px;">
										<li>Git(Git Shell & Github)</li>
										<li>SVN (TortoiseSVN & VisualSVN)</li>
									</ul>
									<h4>IDE</h4>
									<ul style="list-style-type: circle; padding-left: 25px;">
										<li>Pycharm</li>
										<li>Visual Studio</li>
										<li>Sublime Text</li>
									</ul>
									
								</div>
							</div>
					<div class="col-lg-4 col-md-6" style="background-color: white; margin-left: 15px;">
								<div class="carousel-content" style="margin: 15px 35px 15px; line-height: 2.3;">
									<h4>FOREIGN LANGUAGES</h4>
									<ul style="list-style-type: circle; padding-left: 25px;">
										<li>TOEIC: 800/990</li>
									</ul>
									<h4>KNOWLEDGE</h4>
									<ul style="list-style-type: circle; padding-left: 25px;">
										<li>Good knowledge of Python core and framework Django</li>
										<li>knowledge of JavaScript, HTML, CSS</li>
										<li>Good understanding software design, database design, RestfulAPI, ...</li>
										<li>I can work in a team as well as work independently</li>
										<li>Good research skill</li>
									</ul>				
								</div>
							</div>
				</div>
			</div>
		</section>

		<!-- end-section-skill -->


		<div class="section-heading">
			<h2 class="section-title">EXPERIENCES</h2>
		</div>
		
		<!-- Start Exprience Area -->
		<section class="section-gap history-area">
			<div class="container" style="margin-bottom: -55px;">
				
				<div class="history-tab-wrapper" style="margin-top: -95px;">
					<div class="row justify-content-between">
						<div class="col-lg-4">
							<div class="tab-thumb text-center" style="margin-top: 55px;">			
								<h4 class="exp-title">Backend Web Developer</h4>
								<p class="company">YNG - KwangChungvina</p>
							</div>
						</div>
						<div class="stay-time light-violet">
							<p> April/2019 
								<br/> 
								-
								<br/>
								Present

							</p>
							
						</div>
						<div class="col-lg-6 ml-auto" style="margin-top: -55px;">
							<div class="tab-total-content">
								<div class="tab-content mt-40" id="nav-tabContent">
									<div class="tab-pane fade show active" id="nav-history" role="tabpanel" aria-labelledby="nav-home-tab">
										<div class="single-content">
											
											<p>
											<b>Improving & Coding with PYTHON  + Framework DJANGO
</b>
											<br/>
											<b>Manage company's website (Backend & Frontend)</b>
											<br/>
											<b>Develop Websites Freelance:</b> Ecommerce Websites, Logistics Website, Stainless Steel Websites,...
											<br/>
											<b>Learning MySQl,  Database Design</b>
											<br/>
											<b>Learning how to Deploy websites</b>
											<br/>
											<b>Project:</b> Company's Website: Kwangchungvina.com
											<br/>
											<b>Project Description:</b> 
											<br/>
											<b>Responsiblities:</b> Meeting and discuss with bosses to get clear requirement. Develop back-end and front-end for the website 
											<br/>
											<b>Accomplishments: </b>
											<br/>
											<b>Technologies:</b> Python, Framework Django, HTML, Js, Css, MySQL
											</p>
										</div>
									</div>
									
								</div>
							</div>
						</div>
						<div class="col-lg-1"></div>
					</div>
				</div>
				<!-- /end experience one -->

				<!-- experience two -->
				<div class="history-tab-wrapper" style="margin-top: -10px;">
					<div class="row justify-content-between">
						<div class="col-lg-4">
							<div class="tab-thumb text-center" style="margin-top: 55px;">
								<h4 class="exp-title">Support IT</h4>
								<p>HoangLongInterior</p>
							</div>
						</div>
						<div class="stay-time light-orange">
							<p> May/2018
								<br/> 
								-
								<br/>
								April/2019

							</p>
							
						</div>
						<div class="col-lg-6 ml-auto">
							<div class="tab-total-content" style="margin-top: -55px">
								<div class="tab-content mt-40" id="nav-tabContent">
									<div class="tab-pane fade show active" id="nav-history" role="tabpanel" aria-labelledby="nav-home-tab">
										<div class="single-content">
											<p> 
												<b>Self-taught PYTHON + Framework DJANGO</b>
												<b>Manage Website Hoanglonginterior.com:</b> Working with Front-end website (HTML5, Css, Js), Optimize website,  on-page SEO,...
												<br/>
												<b>Graphic design:</b> Using Adobe Photoshop, Ai,...
												<br/>
												<b>Doing digital marketing:</b> Fb ads & GG ads
												<br/>
												</p>
											
											<p></p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-1"></div>
					</div>
				</div>
			</div>
		</section>


		<!-- End Exprience Area -->

		<div class="section-heading" >
			<h2 class="section-title">MY PROJECTS</h2>
		</div>

		<!-- Start Projects Area -->
		<section class="section-gap projects-area">
			<div class="container" style="margin-top: -75px;">
				
				<div class="active-project-carousel">
					<div class="item">
						<div class="row no-gutters">
							<div class="col-lg-9 col-md-6">
								<div class="carousel-thumb" style="background: url(img/c1.jpg);"></div>
							</div>
							<div class="col-lg-4 col-md-6">
								<div class="carousel-content">
									<h3>Ecommerce Website</h3>
									<img src="{% static 'homepage/img/ava2.jpg' %}" class="img-fluid" alt="" width="270px" height="105px">
								</div>
							</div>
							<div class="col-lg-4 col-md-6">
								<div class="carousel-content">
									<h3>Stainless Steel Website</h3>
									<img src="{% static 'homepage/img/project3.jpg' %}" class="img-fluid" alt="" width="270px" height="105px">
								</div>
							</div>
							<div class="col-lg-4 col-md-6">
								<div class="carousel-content">
									<h3>Logistics Website</h3>
									<img src="{% static 'homepage/img/project4.jpg' %}" class="img-fluid" alt="" width="270px" height="105px">
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="row no-gutters">
							<div class="col-lg-9 col-md-6">
								<div class="carousel-thumb" style="background: url(img/c1.jpg);"></div>
							</div>
							<div class="col-lg-4 col-md-6">
								<div class="carousel-content">
									<h3>Ecommerce Website</h3>
									<img src="{% static 'homepage/img/project8.jpg' %}" class="img-fluid" alt="" width="270px" height="105px">
								</div>
							</div>
							<div class="col-lg-4 col-md-6">
								<div class="carousel-content">
									<h3>Ecommerce Website</h3>
									<img src="{% static 'homepage/img/project6.jpg' %}" class="img-fluid" alt="" width="270px" height="105px">
								</div>
							</div>
							<div class="col-lg-4 col-md-6">
								<div class="carousel-content">
									<h3>Ecommerce Website</h3>
									<img src="{% static 'homepage/img/project7.jpg' %}" class="img-fluid" alt="" width="270px" height="105px">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Projects Area -->


		<div class="section-heading">
			<h2 class="section-title">EDUCATION</h2>
		</div>
		
		<!-- Start Exprience Area -->
		<section class="section-gap history-area">
			<div class="container">
				
				<div class="history-tab-wrapper" style="margin-top: -105px;">
					<div class="education-item">
						<div class="edu-time light-violet">
							<p> All
								<br/> 
								The
								<br/>
								Time

							</p>
							
						</div>
						<div class="single-edu-content" style="margin-top: 35px;">
							<div class="edu-title" style="text-align: center; margin-top: -25px;">
							<h4>CERTIFICATIONS</h4>
							<h5></h5>	
							</div>	
							<div class="edu-text" style="margin-top: 25px; margin-bottom: 35px; text-align: center; line-height: 35px;">		
							<p><b>Banking University HCM: The Degree Of Bachelor Business Administration - 2018</b>
								<br/>
								<b>Application of advanced information technology by University Of
								Science - 2017</b>
								<br/> 
								<b>TOEIC Listening and Reading: 800 Points - 2018</b>
							</p>
							</div>
						</div>
					</div>
				</div>
				<!-- /end experience one -->

				<!-- experience two -->
			</div>
		</section>


		<!-- End Exprience Area -->

		<script src="{% static 'homepage/js/vendor/jquery-2.2.4.min.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="{% static 'homepage/js/vendor/bootstrap.min.js' %}"></script>
		<script src="{% static 'homepage/js/jquery.ajaxchimp.min.js' %}"></script>
		<script src="{% static 'homepage/js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'homepage/js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'homepage/js/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static 'homepage/js/main.js' %}"></script>
	</body>
</html>
