{% load static %}



<!-- HEADER -->
	<header>
		

		<!-- header -->
		<a href="{% url 'core:option2' %}"><div id="header" style="background-image: url({% static 'homepage/img/bannerhome.jpg' %}); height: 260px; max-width: 100%;">
			<!-- header -->
		</div></a>
		<!-- container -->
	</header>
	<!-- /HEADER -->

	<!-- NAVIGATION -->
	<div id="navigation" style="background-color: #2c3e50;">
		<!-- container -->
		<div class="container">
			<div id="responsive-nav">
				

				<!-- menu nav -->
				<div class="menu-nav" >
					<span class="menu-header">Menu <i class="fa fa-bars"></i></span>
					<ul class="menu-list">
						<li><a href="{% url 'core:option2' %}">Trang chủ</a></li>
						<li><a href="{% url 'core:about' %}">Giới thiệu</a></li>
						<li class="dropdown mega-dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" ">Sản phẩm<i class="fa fa-caret-down"></i></a>
							<!-- test -->
							<div class="custom-menu">
								<div class="row">
									<div class="col-md-3">
										<div class="hidden-sm hidden-xs">
											<a class="banner banner-1" href="#">
												<img src="{% static 'homepage/img/pic_section0305.jpg' %}" alt="">
												<div class="banner-caption text-center">
													<h3 class="white-color text-uppercase"></h3>
												</div>
											</a>
											<hr>
										</div>
										<ul class="list-links">
											<li>
												<h3 class="list-links-title"></h3></li>
											<li><a href="#">Inox Tấm</a></li>
											<li><a href="#">Inox Cuộn</a></li>
											<li><a href="#">Ống Đúc Inox</a></li>
											<li><a href="#">Vế Đúc Inox</a></li>
											<li><a href="#">La Đúc Inox</a></li>
										</ul>
									</div>
									<div class="col-md-3">
										<div class="hidden-sm hidden-xs">
											<a class="banner banner-1" href="#">
												<img src="{% static 'homepage/img/pic_section0306.jpg' %}" alt="">
												<div class="banner-caption text-center">
													<h3 class="white-color text-uppercase"></h3>
												</div>
											</a>
										</div>
										<hr>
										<ul class="list-links">
											<li>
												<h3 class="list-links-title"></h3></li>
											<li><a href="#">Tròn Đặc Inox</a></li>
											<li><a href="#">Vuông Đặc Inox</a></li>
											<li><a href="#">Hộp Inox</a></li>
											<li><a href="#">Vế Dập Inox</a></li>
											<li><a href="#">Ống Hàn Inox</a></li>
										</ul>
									</div>
									<div class="col-md-3">
										<div class="hidden-sm hidden-xs">
											<a class="banner banner-1" href="#">
												<img src="{% static 'homepage/img/pic_section0308.jpg' %}" alt="">
												<div class="banner-caption text-center">
													<h3 class="white-color text-uppercase"></h3>
												</div>
											</a>
										</div>
										<hr>
										<ul class="list-links">
											<li>
												<h3 class="list-links-title"></h3></li>
											<li><a href="#">Dây Hàn Inox</a></li>
											<li><a href="#">Lục Giác Inox</a></li>
											<li><a href="#">Phụ Kiện Inox</a></li>
										</ul>
									</div>
									
								</div>
							</div>

							<!-- end -->
						</li>
						<li class="dropdown mega-dropdown full-width"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Mẫu <i class="fa fa-caret-down"></i></a>
							<div class="custom-menu">
								<div class="row">
									<div class="col-md-3">
										<div class="hidden-sm hidden-xs">
											<a class="banner banner-1" href="#">
												<img src="{% static 'homepage/img/pic_section0305.jpg' %}" alt="">
												<div class="banner-caption text-center">
													<h3 class="white-color text-uppercase"></h3>
												</div>
											</a>
											<hr>
										</div>
										<ul class="list-links">
											<li>
												<h3 class="list-links-title"></h3></li>
											<li><a href="#">Inox Tấm</a></li>
											<li><a href="#">Inox Cuộn</a></li>
											<li><a href="#">Ống Đúc Inox</a></li>
											<li><a href="#">Vế Đúc Inox</a></li>
											<li><a href="#">La Đúc Inox</a></li>
										</ul>
									</div>
									<div class="col-md-3">
										<div class="hidden-sm hidden-xs">
											<a class="banner banner-1" href="#">
												<img src="{% static 'homepage/img/pic_section0306.jpg' %}" alt="">
												<div class="banner-caption text-center">
													<h3 class="white-color text-uppercase"></h3>
												</div>
											</a>
										</div>
										<hr>
										<ul class="list-links">
											<li>
												<h3 class="list-links-title"></h3></li>
											<li><a href="#">Tròn Đặc Inox</a></li>
											<li><a href="#">Vuông Đặc Inox</a></li>
											<li><a href="#">Hộp Inox</a></li>
											<li><a href="#">Vế Dập Inox</a></li>
											<li><a href="#">Ống Hàn Inox</a></li>
										</ul>
									</div>
									<div class="col-md-3">
										<div class="hidden-sm hidden-xs">
											<a class="banner banner-1" href="#">
												<img src="{% static 'homepage/img/pic_section0308.jpg' %}" alt="">
												<div class="banner-caption text-center">
													<h3 class="white-color text-uppercase"></h3>
												</div>
											</a>
										</div>
										<hr>
										<ul class="list-links">
											<li>
												<h3 class="list-links-title"></h3></li>
											<li><a href="#">Dây Hàn Inox</a></li>
											<li><a href="#">Lục Giác Inox</a></li>
											<li><a href="#">Phụ Kiện Inox</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<li><a href="{% url 'core:blog-post' %}">Tin tức</a></li>
						<li><a href="{% url 'core:contact' %}">Liên Hệ</a></li>
						<!-- Search -->
					<div class="header-search">
						<form action="{% url 'core:search-item' %}">
							<input class="input search-input" type="text" name="q" placeholder="Enter your keyword" style="color: #fff; margin-left: 305px; margin-bottom: -15px; margin-top: -15px; padding-left: 15px; width: 50%;">
							<button class="search-btn" style="height: 0;"><i class="fa fa-search" style=" margin-right: -205px; ; margin-top: -35px; color: #fff;"></i></button>
						</form>
					</div>
					<!-- /Search -->
					</ul>		
				</div>
				<!-- menu nav -->				
			</div>
		</div>
		<!-- /container -->
	</div>
	<!-- /NAVIGATION -->
